* {
    margin: 0;
    padding: 0;
    border: 0;
    
}

body{
    // background: rgb(24, 24, 41);
    background-image: url(../images/pexels-sky.jpg);
    box-sizing: border-box;
    margin: 2% 5%;
    color: white;

    header{
        // border: 1px solid yellow;
        // border-bottom: 1px solid black;
        // position: fixed;
        nav{
            display: flex;
            justify-content: space-between;
            justify-items: center;
            .logo{
                // border: 1px solid rgb(232, 233, 228);
                .logo-svg{
                    height: 30px;
                    justify-items: center;

                }

            }
            .nav-div{
                color: white;
                align-self: center;

                ul{
                    display: flex;
                    text-decoration: none;
                    gap: 70px;
                    

                    li{
                        list-style: none;

                        .a-links{
                            color: white;
                            text-decoration: none;
                            font-family: sans-serif;
                            transition: all .3s ease-in-out;

                            &:hover {
                                // color: rgb(45, 111, 116);
                                color: rgb(91, 233, 76);
                                transition: all .3s ease-in-out;
                               
                            }
                        }
                    }
                }
                
            }
        }
    }
    main{
        section{
            .svg-502-div{

                .svg-502-img{
                    // width: 10vw;
                    height: 50vh;
                    position: absolute;
                    right: 30vh;
                    top: 20vh;
                }

                // @media (min-width: 480px) and (max-width: 1080px) {
                //     body {
                //       background-color: lightgreen;
                //     }
                //   }

            }
            .sec-div1{

                h1{
                    font-size: 50px;

                }

                .ul-stat{
                    // color: rgb(247, 14, 14);
                    
                    .li-img{
                        color: white;
                        font-size: 20px;
                        font-weight: 300;
                        text-shadow: 2px 2px 0px rgb(0, 0, 0);
                        list-style-type: ' + + ';
                    }
                }

                .p-help{
                    font-size: 20px;
                    font-weight: 300;
                    font-family: 'nunito';
                    text-shadow: 1px 1px 1px rgb(0, 0, 0);
                    // background-color: rgba(27, 121, 184, 0.226);
                    // color: yellow;
                    // border: 1px solid black;
                    // border-radius: 10px;
                    
                }
            }
            .sec-div2{
                display: flex;
                gap: 50px; 
                // border: 1px solid red;

                .sec1-div2-img{
                    justify-items: center;
                    text-shadow: 1px 1px 1px rgb(0, 0, 0);
                    // align-items: left;
                    // border: 1px solid green;
                    

                    .speed{
                        transition: all 1s ease-in-out;
                        cursor: progress;

                        &:hover{
                            transition: all 1s ease-in-out;
                            transform: rotateZ(360deg);
                        }

                    }
                    .rel{
                        height: 37px;
                        // border: 1px solid green;
                        padding-bottom: 10px;
                        transition: all 1s ease-in-out;
                        cursor: progress;

                        &:hover{
                            transition: all 1s ease-in-out;
                            transform: rotateZ(360deg);
                        }


                    }
                    .eff{
                        transition: all 1s ease-in-out;
                        cursor: progress;

                        &:hover{
                            transition: all 1s ease-in-out;
                            transform: rotateZ(360deg);
                        }

                    }


                }

            }

            .button-div{

                .contact{
                    border-radius: 5px;
                    border: 1px solid white;
                    font-size: 16px;
                    font-weight: 600;
                    color: white;
                    background-color: transparent;
                    cursor: pointer;
                    height:40px;
                    width: 100px;
                    transition: .3s ease-in-out;

                    &:hover{
                        box-shadow: 0px 0px 5px 5px rgb(142, 230, 132);
                        // background-color: rgb(69, 122, 64);
                        // color: black;
                        // border: 1px solid black;
                        transition: .3s ease-in-out;
                        

                    }
                    

                }
            }

        }

    }
    


}

// @media only screen and (min-width: 320px) and (max-width: 1080px) and (orientation: portrait) {


@media only screen and (min-width: 320px) and (max-width: 1080px) and (orientation: landscape) {
    .svg-502-img{
        width: 40vw;
        height: 800vh;
        position: absolute;
        right: 1vh;
        border: 1px solid yellow;
        margin-left: -100px;
        // left: 100vh;
        // display: none;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .svg-502-img{
        width: 40vw;
        height: 8vh;
        position: absolute;
        right: 1vh;
        bottom: -60vh;
        // left: 100vh;
        // display: none;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 425px) {
    .svg-502-img{
        width: 30em;
        height: 20em;
        position: absolute;
        left: 15em;
        top: 25vh;
        // left: 100vh;
        // display: none;
    }
  }
//   @media only screen and (min-width: 320px) and (max-width: 425px) {
//     .svg-502-img{
//         width: 30em;
//         height: 20em;
//         position: absolute;
//         left: 15em;
//         top: 25vh;
//         // left: 100vh;
//         // display: none;
//     }
//   }