* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    // background: rgb(16, 13, 32);
    background-image: url(./../images/pexels-sky.jpg);
    box-sizing: border-box;
    margin: 2% 5%;
    color: white;

    header{
        // border: 1px solid yellow;
        nav{
            display: flex;
            justify-content: space-between;
            justify-items: center;
            .logo{
                // border: 1px solid rgb(232, 233, 228);
                .logo-svg{
                    height: 30px;
                    justify-items: center;

                }

            }
            .nav-div{
                color: white;
                align-self: center;

                ul{
                    display: flex;
                    text-decoration: none;
                    gap: 70px;
                    

                    li{
                        list-style: none;

                        .a-links{
                            color: white;
                            text-decoration: none;
                            font-family: sans-serif;

                            &:hover {
                                // color: rgb(45, 111, 116);
                                color: black;
                               
                            }
                        }
                    }
                }
                
            }
        }
    }
    main{
        section{
            .sec-div1{

                h1{

                }

                p{

                }
            }
            .sec-div2{
                display: flex;
                gap: 50px;
                // border: 1px solid red;

                .sec1-div2-img{
                    justify-items: center;
                    // align-items: left;
                    // border: 1px solid green;
                    

                    .speed{

                    }
                    .rel{
                        height: 37px;
                        // border: 1px solid green;
                        padding-bottom: 10px;

                    }
                    .eff{

                    }


                }

            }

        }

    }


}