* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    // background: rgb(16, 13, 32);
    background-image: url(./../images/pexels-sky.jpg);
    box-sizing: border-box;
    margin: 2% 5%;
    color: white;

    header{
        // border: 1px solid yellow;
        nav{
            display: flex;
            justify-content: space-between;
            justify-items: center;
            .logo{
                // border: 1px solid rgb(232, 233, 228);
                .logo-svg{
                    height: 30px;
                    justify-items: center;

                }

            }
            .nav-div{
                color: white;
                align-self: center;

                ul{
                    display: flex;
                    text-decoration: none;
                    gap: 70px;
                    

                    li{
                        list-style: none;

                        .a-links{
                            color: white;
                            text-decoration: none;
                            font-family: sans-serif;

                            &:hover {
                                // color: rgb(45, 111, 116);
                                color: black;
                               
                            }
                        }
                    }
                }
                
            }
        }
    }
    main{
        section{
            .sec-div1{

                h1{
                    font-size: 50px;

                }

                .p-help{
                    font-size: 20px;
                    font-weight: 600;
                    // color: yellow;


                }
            }
            .sec-div2{
                display: flex;
                gap: 50px; 
                // border: 1px solid red;

                .sec1-div2-img{
                    justify-items: center;
                    // align-items: left;
                    // border: 1px solid green;
                    

                    .speed{

                        &:hover{
                            transform: rotateZ(-45deg);
                        }

                    }
                    .rel{
                        height: 37px;
                        // border: 1px solid green;
                        padding-bottom: 10px;

                    }
                    .eff{

                    }


                }

            }

            .button-div{

                .contact{
                    border-radius: 5px;
                    border: 1px solid white;
                    font-size: 16px;
                    font-weight: 600;
                    color: white;
                    background-color: transparent;
                    cursor: pointer;
                    height:40px;
                    width: 100px;
                    transition: .3s ease-in-out;

                    &:hover{
                        box-shadow: 0px 0px 5px 5px rgb(142, 230, 132);
                        // background-color: rgb(69, 122, 64);
                        // color: black;
                        // border: 1px solid black;
                        transition: .3s ease-in-out;
                        

                    }
                    

                }
            }

        }

    }


}